# ======================
# BACKEND (Spring Boot)
# ======================
backend/target/
*.log

# ======================
# FRONTEND (Angular)
# ======================
frontend-app/node_modules/
frontend-app/dist/
frontend-app/.angular/
frontend-app/coverage/

# ======================
# SYSTEM
# ======================
.DS_Store
.idea/
.vscode/